img {
  margin-left: auto;
  margin-right: auto;
}
.image {
  min-width: 27%;
  max-width: 27%;
  min-height: 27%;
  max-height: 27%;
  padding: 15px;
  margin-bottom: 20px;
}
.image:hover {
  transform: scale(1.1);
}
